.bg-stadium {
    background: url(../img/background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgSize {
width: 90%;
height: auto;
}
.bg-Sports {
    background: url(../img/bgsports.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 110px;
    bottom: 10px;
    right: 30px;
    left: 100px;
  }
  #scroll_to_top img {
    width: 50px;
  }
  .bg-settings {
    background: url(../img/bgsettings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }