.bg-stadium {
    background: url(../img/background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgSize {
width: 90%;
height: auto;
}
.bg-Sports {
    background: url(../img/bgsports.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}